html {
	background-color: #66FFFF;
}

h1 { 
	background-color: #6699FF;
	border: 10px solid #6600FF;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #330066;
	height: 50px;
	text-align: center;
	margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 100px;
        margin-left: 100px; 
	width: 800px;
}

h2 {
	background-color: #0099FF;
	width: 300px;
	padding: 5px;
	border: 5px groove #3300FF;
	font-family: Parkavenue, cursive;
	text-shadow: 1px 1px #808080;
	color: #FFFF66;
}
	
p {
	background-color: #66FF99;
	width: 400px;
	padding: 20 px;
	border: 7px dashed #990033;
	font-family: "Arial Black", Gadget, sans-serif;
	color: purple;
}

tables, td, th {
	border: 1px solid #191970;
	background-color: #6A5ACD;
	color: #00FFFF;
	text-shadow: 1px 1px #3300CC;
}

ol {
	font-family: Parkavenue, cursive;
	color: #FFD700;
	text-shadow: 1px 1px #FF8C00;
	background-color: #0000ff;
	border: groove 8px #00ffff;
}

h3 {
	font-family: fantasy 200px;
	color: #f2460d;
	text-shadow: 2px 1px #0df2f2;
	background-color: #ffe5ff;
	border: dashed solid #ff0066;
	width: 100px;
	padding: 5px;
}

ul {
	font-family: Courier New, monospace;
	color: #000066;
	background-color: #f2e5ff;
	width: 700px;
	padding: 10px;
	border: 7px solid red;
}

tr > th {
	background-color: #330099;
	color: #00FFFF;
}

tr + td {
	background-color: #006633;
	color: #FFFF00;
}

tfoot td {
	background-color: #CC0066;
}

footer {
	color: #FF9900;
}

h4 {
	color: #33FF00;
	background-color: #990000;
	width: 300px;
	padding: 10px;
	border: 7px groove ;
}

p1 {
	color:#FF00FF; 
	font-family: 'Julius Sans One', sans-serif; 
	font-size: 20px; 
	font-weight: bold; 
	line-height: 32px; 
	margin: 0 0 24px; 
	text-shadow: 2px 2px 1px#DDA0DD;
	border: inset;
	border-color: #ADFF2F #F0E68C;
	background-color: #F0FFFF;
}








