
header {
	background:red;
        padding: 50px 30px 50px 80px;
        width:300px

}
h1 { 
	  border: 2px solid yellow;
         
}
header > p{
           color:white;
           background-color: red;
 
}

nav { 	
	 border: 1px solid black;
	 margin: 75px;
         width: 1000px;
}


p + p {
        background-color: black;
        color: white;
}

h2+ul{
	border: solid black;
	margin-left: 100px;
}

main{
	background-color: grey;
}

main > p{
	background-color: white;
}

main > p1{
	background-color:black;
	color:white;
}

tbody td{ 
	background: white; 
	text-align: center;
	border-collapse: collapse;
	width: 30%;
}

tbody th{
        color: red;
}


th { background: yellow; }

tfoot th{ 
	background-color: red; 
	color: yellow;
}

tfoot td{
        background-color: white;
}

footer{
	width:1000px;
	border:10px dashed blue;
	padding-top: 20px;
	padding-left: 5px;
    	padding-bottom: 20px;
}

span. highlight {
    background-color: blue;
}
