
h1 {
	background-color: red;
	border: solid red;
	width: 500px;
}

header p{
	color: white;
}

h2+ul{
	border: solid black;
	margin-left: 100px;
}

main{
	background-color: grey;
}

main > p{
	background-color: white;
}

main > p2{
	background-color:black;
	color:white;
}

