h1{
	font-family:cursive, sans-serif;
	color:blue;
	border:double#6495ED;
	background-color:#87CEEB;

}

p{
	background-color:#800080;
	border:dotted#FFFF00;
	font-family:"Apple Chancery", cursive;
	color:#AFEEEE;
}
