h1 { 
	font-family: Impact, fantasy;
	font-style: Italic;
	color: yellow;
	font-size: 25px;
	background-color:green;
}

main {
	border-width: 10px;
	border-left: orange groove;
	border-right: orange groove;
	border-collapse: collapes;
}

h2 {
	font-family:Impact, fantasy;
	font-style: Italic;
	color: blue;
	font-size: 9px;
	background-color:red;
	line-height: 200%;
	border: dashed yellow;
	border-bottom: dashed 10px yellow;
	border-left: hidden ;
	border-right: hidden ;
}

h3 {
	font-family: Sans-serif;
	color: yellow:
	background-color: purple;
}

h4 {
	font-family: Sans-serif;
	color: purple;
	background-color: yellow;
	border: dashed purple;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
}

p {
	font-family: Sans-serif;
	color: blue;
	line-height: 200%;
}

footer {
	font-family: Sans-serif;
	color: blue;
	border-left: red solid 10px;
	border-right: blue solid 10px;
	border-top: dotted black 3px;
	line-height: 30px;
}
