header {
  width: 100%;
  display: inline-block;
  position: relative;
  background-size: contain ;
  background: center no-repeat;
}
.header:after {
  padding-top: 75%;
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: black;
  text-align: center;
 margin-top: 30%;

}

nav {
  margin-left: 250px;
}

main {
  margin-left: 251px;
}

table
